<div class="col s2 left">
<script>
	function teste(a){
		console.log(a);
		document.getElementById("capitulos").innerHTML = a;
	}
</script>
	<% @paper.template.sections.each do |section| %>
		<p><%= link_to "#{section.name}", "/trabalho/#{@paper.hash_name}/#{section.id}" %></p>
	<% end %>
	<div id="capitulos">capitulos listados</div>
</div>
<div class="col s10 right">
<%= form_tag(controller: "contents", action: "update", method: "post") do %>
  <% @contents.each do |content| %>
	<% if content.field.section.is_wysiwyg %>
		<%= render "edit_editor", content: content %>
 	<% else %>
		<%= render "edit_fields", content: content %>
	<% end %>
  <% end %>


  <div class="actions">
    <%= submit_tag("Salvar", {class: "btn"}) %>
    <%= link_to "Voltar", papers_path, class: "btn red" %>
  </div>
<% end %>

</div>