<%= form_for(template) do |f| %>
  <% if template.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% template.errors.each do |attr,message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.text_field :name %>
    <%= f.label :name, "Nome" %>
  </div>

  <div class="input-field">
    <%= f.text_field :description %>
    <%= f.label :description, "Descrição" %>
  </div>
  <div class="row">
    
  <div class="field col s6">
    <%= f.check_box :is_active %>
    <%= f.label :is_active, "Disponível" %>
  </div>
  <div class="input-field col s6">
      <%= f.select(:position, (1..@count).map{ |c| ["#{c}", c] }) %>
      <%= f.label :position, "Posição" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit template.new_record? ? "Criar template" : "Alterar template", class: "btn" %>
    <%= link_to 'Detalhes', template_path(template), class: "btn" unless template.new_record? %>
    <%= link_to 'Voltar', templates_path, class: "btn red" %>
  </div>
<% end %>
