<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.text_field :name %>
    <%= f.label :name, "Nome" %>
  </div>

  <div class="input-field">
    <%= f.text_field :alias %>
    <%= f.label :alias, "Apelido" %>
  </div>

  <div class="input-field">
    <%= f.text_field :college %>
    <%= f.label :college, "Instituição" %>
  </div>

  <div class="field">
    <%= f.check_box :is_active %>
    <%= f.label :is_active, "Ativo" %>
  </div>

  <div class="field">
    <%= f.check_box :is_admin %>
    <%= f.label :is_admin, "Admin" %>
  </div>

  <div class="actions">
    <%= f.submit user.new_record? ? "Criar usuário" : "Alterar usuário", class: "btn" %>
    <%= link_to 'Detalhes', user, class: "btn" %>
    <%= link_to 'Voltar', users_path, class: "btn red" %>
  </div>
<% end %>
