<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% user.errors.each do |attr, message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.text_field :name %>
    <%= f.label :name, "Nome" %>
  </div>

  <div class="input-field">
    <%= f.text_field :alias %>
    <%= f.label :alias, "Apelido" %>
  </div>

  <div class="input-field">
    <%= f.text_field :email %>
    <%= f.label :email, "E-mail" %>
  </div>

  <div class="input-field">
    <%= f.text_field :college %>
    <%= f.label :college, "Instituição" %>
  </div>

  <% if current_user.admin? %>
  <div class="field">
    <%= f.check_box :is_active %>
    <%= f.label :is_active, "Ativo" %>
  </div>

  <div class="field">
    <%= f.check_box :is_admin %>
    <%= f.label :is_admin, "Admin" %>
  </div>
  <% end %>

  <div class="row">
    <div class="actions">
      <%= f.submit user.new_record? ? "Criar usuário" : "Alterar usuário", class: "btn" %>
      <% if current_user.admin? %> 
        <%= link_to 'Detalhes', user, class: "btn" %>
      <% end %>
      <%= link_to 'Voltar', :back, class: "btn red" %>
    </div>
  </div>
<% end %>
