<h1>Usuários</h1>

<%= will_paginate @users %>
<table class="bordered striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Apelido</th>
      <th>Instituição</th>
      <th>Ativo</th>
      <th>Admin</th>
      <th colspan="3"><%= link_to "<i class='material-icons'>add</i>".html_safe, new_user_path, class: "btn-floating right" %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.alias %></td>
        <td><%= user.college %></td>
        <td><span class="btn-floating <%= user.is_active ? 'green' : 'red' %>"></span></td>
        <td><span class="btn-floating <%= user.is_admin ? 'green' : 'red' %>"></span></td>
        <td><%= link_to "<i class='material-icons'>more</i>".html_safe, user, class: "btn-floating" %></td>
        <td><%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_user_path(user), class: "btn-floating" %></td>
        <td><%= link_to "<i class='material-icons'>delete</i>".html_safe, user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-floating red" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @users %>

<br>


