<%= form_for([template, section]) do |f| %>
  <% if section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :template_id, value: template.id %>

  <div class="input-field">
    <%= f.text_field :name %>
    <%= f.label :name, "Nome da seção" %>
  </div>

  <div class="row">
    <div class="field col s4">
      <%= f.check_box :is_editable %>
      <%= f.label :is_editable, "Editável" %>
    </div>

    <div class="field col s4">
      <%= f.check_box :is_wysiwyg %>
      <%= f.label :is_wysiwyg, "Usa editor" %>
    </div>

    <div class="field col s4">
      <%= f.select(:position, [["Posição", 0],["1", 1],["2", 2]]) %>
    </div>
  </div>


  <div class="actions">
    <%= f.submit section.new_record? ? "Criar seção" : "Alterar seção", class: "btn" %>
    <%= link_to 'Voltar', template_sections_path(template), class: "btn red" %>
  </div>
<% end %>

<script type="text/javascript">
 $(document).ready(function() {
    $('select').material_select();
 });
</script>