<p id="notice"><%= notice %></p>

<h1>Sections</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Template</th>
      <th>Is editable</th>
      <th>Is wysiwyg</th>
      <th>Position</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.id %></td>
        <td><%= section.name %></td>
        <td><%= section.template.name %></td>
        <td><%= section.is_editable %></td>
        <td><%= section.is_wysiwyg %></td>
        <td><%= section.position %></td>
        <td><%= link_to 'Fields', section_fields_path(section) %></td>
        <td><%= link_to 'Show', template_section_path(section.template, section) %></td>
        <td><%= link_to 'Edit', edit_template_section_path(section.template, section) %></td>
        <td><%= link_to 'Destroy', template_section_path(section.template, section), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_template_section_path %>
