<%= form_for(paper) do |f| %>
  <% if paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paper.errors.count, "error") %> prohibited this paper from being saved:</h2>

      <ul>
      <% paper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s6">
    <%= f.text_field :name %>
    <%= f.label :name, "Nome do trabalho" %>
  </div>

  <div class="input-field col s6">
    <%= f.select(:template_id, [["Selecione o template", 0], ["Template 1", 1],["Teplate 2", 2]])  %>
  </div>

  <div class="field">
    <%= f.hidden_field :user_id, value: 1, readonly: "readonly" %>
  </div>

  <div class="actions col s12 right">
    <%= f.submit paper.new_record? ? "Criar trabalho" : "Alterar trabalho", class: "btn" %>
    <%= link_to 'Conteúdo', @paper, class: "btn" if !paper.new_record? %>
    <%= link_to 'Voltar', papers_path, class: "btn red" %>
  </div>
<% end %>
