<%= form_for(paper) do |f| %>
  <% if paper.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% paper.errors.each do |attr, message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s6">
    <%= f.text_field :name %>
    <%= f.label :name, "Nome do trabalho" %>
  </div>

  <div class="input-field col s6">
    
    <%= f.select(:template_id, paper.new_record? ? @templates.map{ |t| ["#{t.name}", t.id] } : [["#{paper.template.name}", paper.template.id]])  %>
    
    <%= f.label :template_id, "Template" %>
  </div>

  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id, readonly: "readonly" %>
  </div>

  <div class="actions col s12 right">
    <%= f.submit paper.new_record? ? "Criar trabalho" : "Alterar trabalho", class: "btn" %>
    <%= link_to 'Voltar', papers_path, class: "btn red" %>
  </div>
<% end %>

  <div id='template_description'>
  
  </div>

<%= javascript_tag do %>
$(document).on('turbolinks:load' ,function() {
	var templates = [
  <% if @templates %>
	<% @templates.each do |index| %>
	<%= "{description: '#{index.description}'},".html_safe %>
	<% end %>	
  <% end %> 
	{description: "End"} 
	];

        $('div#template_description').html(templates[0].description);
	$('select').on('change', function(){
		var i = $('option:selected').index();
		$('div#template_description').html(templates[i].description);
	});
})
;
<% end %>


