<h1>Trabalhos</h1>

<table class="bordered striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Nome público</th>
      <th>Template</th>
      <th>Criado</th>
      <th>Última compilação</th>
      <th colspan="3"><%= link_to "<i class='material-icons'>add</i>".html_safe, new_paper_path, class: "btn-floating right" %></th>
    </tr>
  </thead>

  <tbody>
    <% @papers.each do |paper| %>
      <tr>
        <td><%= paper.id %></td>
        <td><%= link_to "#{paper.name}", "/trabalho/#{paper.hash_name}/#{paper.template.sections[0].id}" %></td>
        <td><%= paper.hash_name %></td>
        <td><%= paper.template.name %></td>
        <td><%= paper.created_at %></td>
        <td></td>
        <td><%= link_to "<i class='material-icons'>picture_as_pdf</i>".html_safe, "/pdf/#{paper.hash_name}", class: "btn-floating" %></td>
        <td><%= link_to "<i class='material-icons'>edit</i>".html_safe, "/trabalho/#{paper.hash_name}", class: "btn-floating" %></td>
        <td><%= link_to "<i class='material-icons'>delete</i>".html_safe, "/trabalho/#{paper.hash_name}", method: :delete, data: { confirm: 'Excluir trabalho permanentemente?' }, class: "btn-floating red" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

