<p id="notice"><%= notice %></p>

<h1>Trabalhos</h1>

<%= link_to 'Novo trabalho', new_paper_path, class: "btn right" %>
<table class="bordered striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Template</th>
      <th>Criado</th>
      <th>Última compilação</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @papers.each do |paper| %>
      <tr>
        <td><%= paper.id %></td>
        <td><%= paper.name %></td>
        <td><%= paper.template.name %></td>
        <td><%= paper.created_at %></td>
        <td></td>
        <td><%= link_to "<i class='material-icons'>picture_as_pdf</i>".html_safe, "#", class: "btn-floating" %></td>
        <td><%= link_to "<i class='material-icons'>insert_drive_file</i>".html_safe, paper, class: "btn-floating" %></td>
        <td><%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_paper_path(paper), class: "btn-floating" %></td>
        <td><%= link_to "<i class='material-icons'>delete</i>".html_safe, paper, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-floating red" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

