<%= form_for([section, field]) do |f| %>
  <% if field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(field.errors.count, "error") %> prohibited this field from being saved:</h2>

      <ul>
      <% field.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :section_id, value: section.id %>

  <div class="row">
    
    <div class="input-field col s4">
      <%= f.text_field :name %>
      <%= f.label :name, "Nome" %>
    </div>

    <div class="input-field col s4">
      <%= f.text_field :label %>
      <%= f.label :label, "Label" %>
    </div>

    <div class=" input-field col s4">
      <%= f.select(:position, (1..@count).map{ |c| ["#{c}",c] }) %>
      <%= f.label :position, "Posição" %>
    </div>

  </div>

  <div class="input-field col s12">
    <%= f.text_field :open_tag %>
    <%= f.label :open_tag, "Tag de abertura" %>
  </div>

  <div class="input-field col s12">
    <%= f.text_field :close_tag %>
    <%= f.label :close_tag, "Tag de fechamento" %>
  </div>

  <div class="row">
    <div class="field col s2">
      <%= f.check_box :is_multivalue %>
      <%= f.label :is_multivalue, "Multivalorado" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit field.new_record? ? "Criar campo" : "Alterar campo", class: "btn" %>
    <%= link_to 'Voltar', section_fields_path(section), class: "btn red" %>
  </div>
<% end %>
