<h1>Campos</h1>

<nav>
  <div class="nav-wrapper">
    <div class="col s12">
      <%= link_to "Template: #{@section.template.name}", templates_path, class: "breadcrumb" %>
      <%= link_to "Seção: #{@section.name}", template_sections_path(@section.template), class: "breadcrumb" %>
      <a href="#!" class="breadcrumb">Campos</a>
    </div>
  </div>
</nav>

<table class="striped bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Label</th>
      <th>Tag abertura</th>
      <th>Tag fechamento</th>
      <th>Posição</th>
      <th>Seção</th>
      <th colspan="2"><%= link_to "<i class='material-icons'>add</i>".html_safe, new_section_field_path, class: "btn-floating right" %></th>
    </tr>
  </thead>

  <tbody>
    <% @fields.each do |field| %>
      <tr>
        <td><%= field.name %></td>
        <td><%= field.label %></td>
        <td><%= field.open_tag %></td>
        <td><%= field.close_tag %></td>
        <td><%= field.position %></td>
        <td><%= field.section.name %></td>
        <td><%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_section_field_path(field.section, field), class: "btn-floating" %></td>
        <td><%= link_to "<i class='material-icons'>delete</i>".html_safe, section_field_path(field.section, field), method: :delete, data: { confirm: 'Excluir o campo permanentemente?' }, class: "btn-floating red" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


