<!DOCTYPE html>
<html>
  <head>
    <title>abnTeXtor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
  </head>

  <body>
  <header class="valign-wrapper">
  <%= image_tag "logo.png" %>
  </header>
  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right">
        <% if current_user %>
          <% if current_user.admin? %>
            <li><a href="/users">Usuários</a></li>
            <li><a href="/templates">Templates</a></li>
          <% end %>
          <li><a href="/perfil">Perfil</a></li>
          <li><a href="/trabalhos">Trabalhos</a></li>
          <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </nav>

<% if notice || alert %>
<div id="card-alert" class="card <%= alert.nil? ? 'green' : 'red' %> lighten-5">
  <div class="card-content <%= alert.nil? ? 'green-text' : 'red-text' %> ">
    <p><%= notice || alert %></p>
  </div>
</div>
<% end %>

  <div class="row">
    <div class="col s12 m10 offset-m1">
    <%= yield %>
      
    </div>
  </div>

  </body>
</html>
